NODE_ENV=production
PORT=5177
MONGODB_URI=mongodb://127.0.0.1:27017/bainan
MONGODB_IMPORT_JSON_ON_EMPTY=false
MONGODB_SERVER_SELECTION_TIMEOUT_MS=5000
# MONGODB_DB=bainan
# MONGODB_FORCE_IMPORT_JSON=false
